<aside class="w-full">
  <div
    class="sticky top-0 rounded-xl w-full px-8 sm:px-16 py-8 lg:py-12 lg:px-10">
    <div>
      <%= link_to root_path, class: "text-black dark:text-white" do %>
        <%= svg_tag("diamond.svg") %>
      <% end %>
    </div>
    <h1
      class="text-black dark:text-white text-xl md:text-2xl xl:text-3xl 2xl:text-5xl font-bold tracking-tighter">
      <%= link_to "/illustrations", root_path, class: "text-black dark:text-white" %>
    </h1>
    <div class="lg:mt-8 max-w-xl">
      <p class="dark:text-zinc-400 text-zinc-500 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="mt-4 pt-6 border-t border-zinc-800">
      <nav>
        <ul
          class="lg:space-y-3 space-x-3 list-none no-underline mt-6 lg:mt-12 inline-flex items-center sm:flex sm:flex-col sm:items-start sm:space-x-0"
          role="list">
          <!-- <li>
            <a
              class="dark:text-zinc-400 text-zinc-500 dark:hover:text-white hover:text-black inline-flex items-center"
              href="#">
              <span> About</span>
            </a>
          </li> -->
          <li>
            <% unless current_page?(action: :search) || params.key?(:q) %>
              <%= link_to search_illustrations_path, class: "group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black" do %>
                <span> Search</span>
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
