<% if @illustrations.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-x-3 gap-y-12 p-4">
    <%= render partial: "thumbnail", collection: @illustrations, as: :illustration %>
  </div>
<% else %>
  <div class="mt-12 ml-6">
    <h1
      class="text-black dark:text-white text-xl md:text-2xl lg:text-4xl xl:text-6xl font-bold tracking-tighter"
    >
      <% if params[:q].blank? %>
        No search keyword!
      <% else %>
        No illustrations found with name or tags using <span class="underline"><%= params[:q] %></span>
      <% end %>
    </h1>
  </div>
<% end %>

<% if params.key?(:q) %>
  <div class="my-4 ml-6">
    <%= link_to search_illustrations_path, class: "group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black" do %>
      <span>Search Again</span>
    <% end %>
  </div>
<% end %>
